body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

.modo-claro {
    background-color: #303035;
    color: #ffffff;
}

.conteudoExercicios {
    text-align: center;
    justify-content: center;
}


button {
    border-radius: 18px;
    border: 2px solid #312a70;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #312a70;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #312a70;
    color: #fff;
}


